@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..700;1,100..700&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root {
  --text: #070509;
  --background: #f9f7fc;
  --primary: #7e3fcc;
  --secondary: #af7eec;
  --accent: #9345f5;
}

.text {
  color: var(--text);
}

.bg {
  background-color: var(--background);
}

.primary {
  background-color: var(--primary);
}

.secondary {
  background-color: var(--secondary);
  color: white;
}

.accent {
  background-color: var(--accent);
}

.primary-text {
  color: var(--primary);
}

.primary-text:hover {
  color: var(--accent);
}

.gradient-bg {
  background: rgb(126, 63, 204);
  background: linear-gradient(90deg, rgba(126, 63, 204, 1) 0%, rgba(175, 126, 236, 1) 100%);
}

/*********************************/

.form-control:focus {
  box-shadow: 0 .1rem .1rem var(--primary);
  border-color: var(--secondary);
  outline: none;
}

/*********************************/

footer,
footer .text-body {
  text-decoration: none;
  color: #e7e7e7 !important;
  font-size: 13px;
}

footer .text-body {
  font-weight: 600;
}

footer {
  margin-bottom: 0;
}

#bottom-footer {
  bottom: 0;
  width: 100%;
}

.list-group {
  padding: 0;
}

.jumbotron {
  background-image: url('../images/books.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.jumbotron h1,
.jumbotron p,
.jumbotron a {
  color: #e7e7e7;
}

.jumbotron .btn {
  background: var(--primary);

}

.jumbotron .btn:hover {
  background: var(--accent);
}

/*********************************/
.card {
  height: 100%;
  overflow: hidden;
}

.card-title {
  text-align: center;
  transition: opacity 0.3s;
}

.card-text {
  font-size: 14px;
}

.card-title a {
  color: var(--text);
  font-weight: 500;
  text-decoration: none;
}

/*********************************/
.dropdown .btn {
  background: var(--accent);
}

.dropdown .btn:hover {
  background: var(--primary);
}

.form-select:focus {
  box-shadow: 0 .1rem .2rem var(--secondary);
  border-color: var(--secondary);
  outline: none;
}

.page-link {
  color: var(--accent);
}

.page-link .active {
  background-color: var(--primary);
}

.page-link:hover {
  color: var(--primary);
}

.page-item {
  color: var(--accent);
}

.page-item.active .page-link {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--background);
}

.no-border {
  border: none;
  background: none;
  padding: 0; /* Adjust padding if necessary */
}

.no-border:hover, .no-border:focus {
  outline: none;
  box-shadow: none;
}

/*********************************/

.swiper-slide:not(.swiper-slide-active) .card__title {
  opacity: 0;
}

.swiper-slide {
  width: 25%;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--primary);
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 0 50px;
}

.swiper::before {
  content: "";
  display: block;
  background: var(--background);
  left: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  z-index: 9;
}

.swiper::after {
  content: "";
  display: block;
  background: var(--background);
  right: 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 50px;
  z-index: 9;
}
/*********************************/
.btn-link {
  text-decoration: none;
  margin-top: 0;
  padding-top: 0;
  color: var(--accent);
}

.btn-link:hover {
  color: var(--primary);
}

.card .btn {
  background: var(--accent);
}

.card .btn:hover {
  background: var(--primary)!important;
}

.card .btn-dark:hover {
  background: var(--accent);
}

#register .btn-link, #login .btn-link {
  color: var(--primary);
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.input-group-text a {
  /*centers mag icon*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group .input-group-text:hover {
  background-color: rgb(243, 243, 243);
}

.nav-item {
  font-weight: 600;
}

.list-group-item p:first-of-type {
  font-weight: 600;
}

/*********************************/
#catalog .card {
  transition: box-shadow 0.3s ease;
}

#catalog .card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
/*********************************/

section > h2 {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #828282;
  line-height: 0.1em;
  margin: 10px 0 20px;
  padding: 0.2em;
  font-size: 25px;
}

section > h2 span {
  padding: 5px 20px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #828282;
  background-color: rgb(255, 255, 255) !important;
}

/*********************************/
.counter {
  background-color: rgb(234, 234, 234)!important;
  padding: 10px 0;
  border-radius: 10px;
}

.count-title {
  font-size: 40px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.count-text {
  font-size: 13px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

/*********************************/

th .text-secondary {
  font-weight: 400;
}

#produkt .btn {
  background: var(--accent);
}

#produkt .btn:hover {
  background: var(--primary);
}

/*********************************/
#reviews h4 {
  text-align: left;
}

#reviews .btn {
  background: var(--accent);
}

#reviews .btn:hover {
  background: var(--primary);
}

@media (max-width: 576px) {
  .jumbotron .pad-xs {
      padding-left: 3rem; /* Adjust as needed */
      padding-right: 3rem; /* Adjust as needed */
  }
}